@using BookStore.Utilties.HTMLHelpers
@using Muqabalati.Utilities.Identity
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Muqabalati.Web</title>
    <script type="importmap"></script>

    <partial name="_StyleLinksPartial"></partial>

    @await RenderSectionAsync("Styles", required: false)
</head>
<body >
    @* <div id="loading-spinner"></div> <!-- Spinner element --> *@

    <div class="glow2 top-middle"></div>
    <div class="glow2 left-middle"></div>

    @await RenderSectionAsync("Header", required: false)


    <main role ="main" id="content" class="h-full f-ctr-ctr f-col">

        <partial name="_NotificationsPartial" />
        @RenderBody()
  </main> 


    <partial name="_ScriptsPartial"></partial>
    @* <script src="~/js/interview-ai.js" asp-append-version="true"></script> *@

    <!-- Include notification.js as a module -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
