
@{
    Layout = "_LayoutInterview.cshtml";
    ViewData["Title"] = "StartInterview";
}


<main class="h-full bg-1 f-ctr-ctr">
    <section id="interview-page" class="container f-btw-ctr gap-5">
        <div id="actionButtons" class="f-ctr-ctr gap-5 f-col">
         
            <button id="repeatQuestion" class="btn btn-md btn-primary">
                إعادة السؤال
            </button>
            <button id="startAnswer" class="btn btn-md btn-primary">
                ابدأ الإجابة
            </button>
            <button id="endAnswer" class="btn btn-md btn-primary">
                انتهت الإجابة
            </button>

            <button id="pauseInterview" class="btn btn-md btn-primary">
                توقيف المقابلة
            </button>
             
        </div>      

        <div id="InterviewAi" class="f-ctr-ctr f-col">
            <div id="interviewerAIBubble" class="circle-bubble"></div>
            <h2 id="interviewerAIState" class="display-4 mt-4">جاهز</h2>
        </div>

        <div class="f-ctr-ctr gap-5 f-col">
            <div id="questionNum" class="btn btn-secondary">1</div>
            <div id="questionTimer" class="btn btn-secondary">10s</div>
        </div> 
         
    </section>
</main>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="module" src="~/js/interview-ai.js"></script>
}